@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = null;
}
<html>
    <head>
        @Html.OpenGraph()
    </head>
    <body>
        
    </body>
</html>